@args String groupId, com.catify.initializr.domain.MicroService service

package @groupId@.@service.getServiceName();

import java.util.logging.Level;
import java.util.logging.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.cloud.netflix.eureka.EnableEurekaClient;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@@SpringBootApplication
@@RestController
@@EnableEurekaClient
public class Application {

    private static final Logger LOG= Logger.getLogger( Application.class.getName() );

    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }

    @@RequestMapping("/hello_@service.getServiceName()")
    public String hello() {
        LOG.log(Level.INFO, "requested Service '@service.getName()'");
        return "Hello from service '@service.getName()'.";
    }
}
