@args List<com.catify.initializr.domain.MicroService> services

# --------------
# registry
# --------------
service-registry:
    hostname: discovery
    build: ../demo-registry/target
    ports:
        - "8761:8080"
    environment:
        - SPRING_PROFILES_ACTIVE=docker
        
# --------------
# zuul proxy
# --------------
zuul-proxy:
    hostname: zuul
    build: ../demo-proxy/target
    ports:
        - "8080:8080"
    links:
        - service-registry
    environment:
        - SPRING_PROFILES_ACTIVE=docker

@for(com.catify.initializr.domain.MicroService service : services) {        
# --------------
# @service.getName()
# --------------
@service.getServiceName():
    build: ../@service.getServiceName()/target
    ports:
        - "8080"
    links:
        - service-registry
    environment:
        - SPRING_PROFILES_ACTIVE=docker

}